@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&family=Cairo:wght@600&display=swap');

:root {--bs-font-sans-serif:"Noto Sans KR";}

/* header */
.header {border-top:7px solid #FFDA57;}
.header .navbar-brand {width:118px;margin:5px 0}
.header .navbar-brand img {width:100%;}
.header .navbar-toggler {font-size:16px;border:0;}
/* top menu */
.header .tnb li a {position:relative;display:block; height:50px; font-size:14px; line-height:50px; color:#888; padding:0 20px;text-decoration:none;}
.header .tnb li a::after {content:"";position:absolute; top:50%; right:0; width:1px; height:8px;background:#d5d5d5;transform:translateY(-50%);transition:0.3s}
.header .tnb li a:hover {text-decoration:underline;}
.header .tnb .search a::after,
.header .tnb .allmenu a::after {display:none;}
.header .tnb .search a, 
.header .tnb .allmenu a {color:#43444B;line-height:50px}
.header .tnb .search a {padding-right:10px}
.header .tnb .allmenu a {padding-left:10px}
.header .tnb .nav > li > a:hover,
.header .tnb .nav > li > a:focus {
	text-decoration: underline;
	background-color: transparent;
}
.gnb {width:100%;border-top:1px solid #E7E7E7;}
.gnb .navbar-nav {width:100%;justify-content:space-between;
	--bs-nav-link-color:#43444B;
	--bs-nav-link-hover-color:#ffc107;}
.gnb .navbar-nav .nav-item {font-size:16px;font-weight:500;color:#43444B;}

@media (min-width: 991px) {
	.header.navbar {flex-direction:column;padding:0}
    .header > .container {position:relative;height:138px;align-items:flex-start;}
    .navbar-expand-lg .navbar-collapse {justify-content:flex-end;}
    .header .navbar-brand {position:absolute;display:inline-block;left:50%;top:50%;width:148px;transform:translate(-50%,-50%);}
	.gnb .navbar-nav .nav-item {font-size:18px;}
}

/* main */
/* visual area */
.visual_bg {position:relative;overflow-x:hidden;}
.visual_area {position:absolute;left:50%;top:50%;width:100%;transform:translate(-50%,-50%);}
.visual_txt {color:#fff;}
.visual_txt h1 {font-size:60px;font-weight:800;line-height:1.6;padding:10px 0 40px;word-break:keep-all;text-shadow:0 0 3px rgba(0, 0, 0, 0.6);}
.visual_txt p {font-size:24px;line-height:1.6;word-break:keep-all;text-shadow:0 0 5px rgba(0, 0, 0, 0.6);}

.content_body {padding:80px 0}
/* 여행상품리스트*/
.card a{text-decoration:none;color:#43444B}
/* banner */
.imgslide {margin:80px 0 50px}

/* footer */
.footer {border-top:1px solid #E7E7E7;}
.footer .fnb {padding:10px 0; border-bottom:1px solid #E7E7E7}
.footer .fnb .nav {
    --bs-nav-link-color: #888;
    --bs-nav-link-hover-color: #888;
}
.footer .fnb .nav-link:focus, .footer .fnb .nav-link:hover {text-decoration:underline;}
.footer .footer_body {padding:35px 0; color:#888;}
.footer .footer_body .ft_logo img {width:85%;}
.info_cont .licnese_area {font-size:14px;}
.info_cont .licnese_area span {position:relative;margin-bottom:6px; padding-right:20px}
.info_cont .licnese_area span::after {content:"";position:absolute; top:50%; right:10px; width:1px; height:12px;background:#878787;transform:translateY(-50%); }
.info_cont .licnese_area span:last-child::after {display:none;}
.info_cont .copy_area {padding-top:15px}
.info_cont .copy_area p {margin-bottom:0.25rem;}
.info_cont .copy_area p:last-child {padding-top:10px}

/* 오늘 하루 열지 않음 레이어 팝업 */
#popup_today {width:100%;height:100%;position:absolute;left:0;top:0;background:rgba(0, 0, 0, 0.6);z-index:10000;}
#popup_today .today_wrap {width:350px;height:350px;position:absolute;background:#fff;left:50%;top:50%;transform:translate(-50%, -50%);}
#popup_today .btn_close {position:absolute;bottom:0;width:100%;height:40px;background:#000;font-size:14px;padding:10px 12px;}
#popup_today .btn_close label {color:#fff;}
#popup_today .btn_close input[type="checkbox"] {width:16px;height:16px;vertical-align:middle;margin-right:6px}
#popup_today .btn_close .closeBtn {position:absolute;right:12px;bottom:5px;height:30px;color:#fff;font-weight:600;border-radius:5px;background:#0066ad;padding:0 10px;cursor:pointer;}
