@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  color: #333;
  font-size: 12px;
}

.nav-link{
  margin: 15px;
}

.dropdown-menu {
  text-align: center;
  --bs-dropdown-border-color:var(--colorOne);
  font-size: 12px;
  font-weight: 400;
}

body {
  width: 100%;
  height: 100%;
  font-size: 15px;
}

.v-info-item {
  font-size: 10px;
}

:root {
  --colorOne: white;
  --colorTwo: gray;
  --fontFamily: 'Teko', sans-serif;
}

.accordion-item{
  background-color: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0);
  display: inline-flexbox;
}

.sctext {
  position: absolute;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
}

/* BG */
#wrapMe {
  width: 100%;
  height: calc(100vh - 200px);
  overflow-y: scroll;
  background-image: linear-gradient(180deg, var(--colorOne) 0%, var(--colorTwo) 70%);
  position: relative;
  padding: 50px 0 50px 0;
}

/* vehicle-slide */
#layMe {
  min-height: 450px;
  margin-top: 80px;
  width: 90%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  position: relative;
}

#carouselExampleSlidesOnly {
  min-height: 300px;
  margin-top: 20px;
  width: 90%;
  max-width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
}

#layMe:before {
  height: 100%;
  width: 70%;
  background: var(--colorOne);
  box-shadow: 0px 30px 139px 0px rgba(10, 22, 31, 0.26);
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  content: '';
  transform-origin: left;
  transform: rotateY(10deg);
    animation:before 10s linear infinite;
}

@keyframes before {
  50% {
    transform: rotateY(10deg) translateY(-25px);
  }
}

#layMe:after {
  content: '';
  width: 75%;
  height: 85%;
  border-radius: 30px;
  background: var(--colorTwo);
  box-shadow: 0 28px 79px 0 rgba(10, 22, 31, 0.35);
  position: absolute;
  top: 50%;
  right: 0;
  transform-origin: right;
  transform: translateY(-50%) rotateY(-10deg);
}

#conMe {
  width: 80%;
  height: 100%;
  min-height: 450px;
  margin: 0 auto;
  position: relative;
  z-index: 9;
  display: flex;
}

.vehicle-slide {
  display: none;
  align-items: center;
}

.showing {
  display: flex;
  align-content: stretch;
}

.showing img {
  animation: imgMove .75s ease-out forwards;
}

@keyframes imgMove {
  0% {
    margin-left: -25%;
    opacity: 0;
  }
}

.showing .vehicle-details {
  animation: deetsMove .75s ease-out forwards;
  transform-origin: right;
  transform: rotateY(-10deg);
}

@keyframes deetsMove {
  0% {
    margin-left: 25%;
    opacity: 0;
  }
}

.vehicle-slide img {
  max-width: 50%;
}

.vehicle-slide h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: 2.5;
  margin: 0 0 25px 0;
  font-family: 'Teko';
}

.vehicle-slide .v-info-item {
  display: inline-block;
  padding: 20px 30px;
  letter-spacing: 1.5px;
  font-size: 13px;
  line-height: 2.5;
  border-right: 1px dotted var(--colorOne);
}

.vehicle-slide .v-info-item:nth-child(2n) {
  border: none;
}

.vehicle-slide a.vehicle-slide {
  width: 55px;
  cursor: pointer;
  font-size: 8px;
  font-weight: bold;
  border-radius: 15px;
  background: #959595;
  position: absolute;
  text-align: center;
  display: flex;
}

.btn a.vehicle-slide:hover {
  text-decoration: underline;
  border-radius: 15px;
  border: 3px solid #fff;
  color: #fff;
}

a.vehicle-slide {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: inline-block;
}

.swapBtn {
  width: 60px;
  height: 60px;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  background: #fff;
  color: #283744;
  border: 0.5px solid #283744;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 1px black;
  transition: .15s;
  z-index: 99;
  display: block;
}

.swapBtn:nth-child(2) {
  transform: translateX(-50%);
}

.swapBtn:nth-child(3) {
  right: 0;
  transform: translateX(50%);
}


@media screen and (max-width:1200px) {
  #layMe:before {
    width: 75%;
    height: 50%;
    left: 0%;
    transform: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  #layMe:after {
    height: 40%;
    top: 5%;
    transform: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .showing {
    flex-direction: column;
    margin: 0 auto;
  }

  .vehicle-slide img {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .vehicle-slide .vehicle-details {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .vehicle-slide .btn {
    margin: 20px auto;
  }

  .swapBtn:nth-child(2) {
    top: 25%;
    transform: translateX(0%) scale(.75);
  }

  .swapBtn:nth-child(3) {
    right: 0;
    top: 25%;
    transform: translateX(0%) scale(.75);
  }

  @keyframes imgMove {
    0% {
      margin-left: 0;
      margin-top: -10%;
      opacity: 0;
    }
  }

  @keyframes deetsMove {
    0% {
      margin: 0 auto;
      opacity: 0;
    }
  }
}

@media screen and (max-width:520px) {
  .v-info-item {
    border-bottom: 1px dotted var(--colorOne);
    border-right: 0 !important;
  }

  .swapBtn {
    top: 15% !important;
  }

  #layMe:before {
    display: none;
  }

  #layMe:after {
    display: none;
  }
}

footer {
  width: 100%;
  height: 200px;
  display: block;
}

.sns {
  margin-top: 100px;
  cursor: pointer;
}

i:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.cptext {
  width: 100%;
  padding: 30px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  padding: 50px 0 0 30px;
}

/* cookie */
input {
  vertical-align: middle;
}

#notice_wrap {
  width: 200px;
  height: 420px;
  position: absolute;
  left: 50px;
  top: 90px;
  box-shadow: 0 0 0 8px rgb(0, 0, 0);
  z-index: 1000;
  cursor: pointer;
  opacity: 100%;
  font-size: 12px;
  text-align: center;
  background-color: #ccc;
}

#notice_wrap:hover {
  opacity: 100%;
}

.BodyBtn {
  font-size: 12px;
  margin: 10px;
  color: #fff;
  text-align: center;
}

.closewrap {
  background-color: #283744;
  font-size: 10px;
  padding: 15px 20px;
  text-align: center;
}

.closeBtn {
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  width: 45px;
  height: 25px;
}

.closeBtn:hover {
  text-decoration: underline;
  font-weight: bold;
}
